.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    border: 1px dashed lightgray;
    transition: background-color 100ms;
    font-family: monospace;
    font-size: 1.3em;
}

@media (hover: hover) {
    .cell:hover {
        background-color: rgba(158, 158, 158, 0.1);
    }
}

.cell:active {
    background-color: rgba(158, 158, 158, 0.3);
}

.x {
    composes: cell;
    color: lightcoral;
}
.x::after {
    content: "x";
}

.o {
    composes: cell;
    color: rgb(128, 135, 240);
}
.o::after {
    content: "o";
}
