.board {
    height: 80vw;
    max-width: 500px;
    max-height: 500px;
    width: 80vw;
    border: darkgray solid 1px;
    border-radius: 0.5rem;
    /* padding: 1rem; */
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    place-items: center;
    font-size: 1.7rem;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resetButton {
    border-radius: 5px;
    border-width: 2px;
    font-size: 1rem;
    padding: 8px 16px;
    border-color: rgb(227, 227, 227);
}
